.side {
    width:90%;
    margin:auto;
    grid-area: sidebar;
}

.main-footer {
    grid-area: footer;
}

.main-nav{
    grid-area: nav;   
}



.banner
{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 5% 95%;
    height: 60px;
    padding:6px;
    grid-area: banner;
}

.big-banner
{
    display:grid;
    grid-template-columns: 1f;
    grid-gap: 10px;
    height: auto;
    padding:6px;
    grid-area: bigbanner;
    grid-template-areas: 
            "banner"
            "nav";
}

.content 
{
    grid-area: content;
    width:90%;
    margin:10px auto;
    
}

.logo_container
{
    padding:2px;
    height:100%;
    grid-area: logo_container;
}

.body_wrapper
{
    display: grid;
    width:100%;
    height:auto;
    grid-template-areas: 
            "bigbanner"
            "sidebar"
            "content"
            "footer";
}


.banner_main{
    grid-column: 2;
    grid-row: 1;
    color : yellow;
}

.img_log{
    width:80%;
    height:80%;
}



  @media (min-width: 500px)
  {
    .body_wrapper 
    {
    display:grid;
      grid-template-columns: 2f 8f;
      grid-template-areas: 
        "bigbanner bigbanner"
          "sidebar content"
           "footer footer";
    }

    .big-banner 
    {
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
          "banner  nav"
    }

    .banner {
        grid-template-columns: 1fr 9fr;
        grid-template-areas: 
          "logo_container  banner_main"
    }

    nav ul {
      display: flex;
      justify-content: space-around;
    }
  }