.side {
    width:90%;
    margin:10px auto;
    height:620px;
    grid-area: sidebar;
}

.main-footer {
    grid-area: footer;
}

.main-nav{
    grid-area: nav;   
}


.body_wrapper
{
    display: grid;
    width:100%;
    height:auto;
    grid-template-areas: 
            "bigbanner"
            "sidebar"
            "content"
            "footer";
}

.banner
{
    display:grid;
    grid-gap: 10px;
    grid-template-columns:1fr;
    height: 60px;
    padding:6px;
    grid-area: banner;

    grid-template-areas: 
          "logo_container"
          "banner_main";
}

.big-banner
{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    height: auto;
    padding:6px;
    grid-area: bigbanner;
    grid-template-areas: 
            "banner"
            "nav";
}

.content 
{
    grid-area: content;
    width:90%;
    margin:10px auto 40px;
    display :grid;
    grid-template-columns: 1fr;
    height:620px;
    
}

.logo_container
{
    padding:2px;
    height:100%;
    grid-area: logo_container;
}


.banner_main{
    grid-column: 2;
    grid-row: 1;
    color : yellow;
}

.img_log{
    width:80%;
    height:80%;
}



  @media (min-width: 500px)
  {
    .body_wrapper 
    {
      display:grid;
      grid-template-columns: 3fr 8fr;
      grid-template-areas: 
        "bigbanner bigbanner"
          "sidebar content"
           "footer footer";
    }

    .big-banner 
    {
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
          "banner  nav"
    }

    .banner {
        grid-template-columns: 1fr 9fr;
        grid-template-areas: 
          "logo_container  banner_main"
    }

    nav ul {
      display: flex;
      justify-content: space-around;
    }
  }


  .user-image-circular
{
    width : 150px;
    height :150px;
    border : 1px solid #777373;
    margin : 0px 0px;
    border-radius: 50%;
}

.user-image-container{
    width:150px;
    height :150px;
    margin : 30px auto;
    padding :0px 0px;
}

.user_info
{
    width : 100%;
    height : auto;
    padding :0px 0px;
    margin :0px 0px;
}

.user-details{
    margin-left: 15px;
}

.white-color{
 color : #fff;
}

.black-color{
    color : #000;
}

.locationInput{
    display :grid;
    grid-gap: 15px;
    grid-template-columns: 7fr 1fr;
}

